html {
  font-size: 10px;
}

body {
  font-family: $global_ff1;
  font-size: 1.4rem;
  color: $global_color_text;
  background: $global_color_bg;
  // &.rtl {
  //   font-family: $global_ff1_rtl;
  // }
  margin: 0;
  padding: 0;

  &:before {
    content: "";
    background-color: #000000;
    transition: all 300ms;
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.modal-is-open,
  &.mob-menu-is-open,
  &.mini-cart-is-open,
  &.fastorder-is-open {
    &:before {
      opacity: .5;
      z-index: 100;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  color: inherit;
}
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: $global_color_link;
  transition: all 300ms;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $global_color_link_hover;
  }

  &.link_blue {
    color: #a5c4d9;
    text-decoration: underline;
    line-height: 1.4em;
    &:hover {
      color: #517187;
    }
  }
}

b,
.bold {
  font-weight: bold;
}

img {
  max-width: 100%;
  border-style: none;
  height: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c8c8c8;
  margin: 40px 0;
  padding: 0; 
}

textarea:focus,
input:focus {
  outline: none;
}



[class*="ico-"] {
  display: inline-block;
  vertical-align: middle;
}


// png-sprites
// @include sprites($spritesheet-sprites);







.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &-header {}
  &-content {
    flex-grow: 1;
  }
  &-footer {}
}



.special {
  color: #f22626;
}

.text-danger {
  color: #f22626;
}
.text-center {
  text-align: center;
}



.btn-wrap {
  text-align: center;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 28px;
  border: 2px solid #070708;
  display: inline-block;
  cursor: pointer;
  transition: all 300ms;
  &:hover {
    text-decoration: none;
    background: #ccc;
    box-shadow: -28px 23px 17px 12px rgba(22, 23, 23, 0.06), -4px 3px 18px 6px rgba(22, 23, 23, 0.09);
    transition: all 300ms;
  }

  &_transparent {
    border-color: #fff;
    color: #fff;
    background: transparent;
  }
  &_white {
    border-color: #000;
    color: #000;
    background: #fff;
  }
  &_black {
    border-color: #000;
    color: #fff;
    background: #000;
  }
  &_grey {
    border-color: #818181;
    color: #818181;
  }
}
a.btn_black {
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
a.btn_grey {
  color: #818181;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
.btn-wishlist {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}
.btn-link {
  border: 0;
  background-color: transparent;
}
.remove-product {
  span {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}



.tabs {}
.tabs-content {
  position: relative;
}
.tab {
  transition: all 300ms;
  display: none;
  &.active {
    transition: all 300ms;
    display: block;
  }
}

.li-item {
  display: inline-block;
  position: relative;
}
.dropdown-toggle + .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 0;
  background-color: #e9e9e9;
  border: 0;
  transition: all 300ms;
  padding: 10px;
  min-width: 100px;
  &.open {
    display: block;
    box-shadow: -28px 23px 17px 12px rgba(22, 23, 23, 0.06), -4px 3px 18px 6px rgba(22, 23, 23, 0.09);
  }
  li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    .btn-link {
      cursor: pointer;
      padding: 5px;
      width: 100%;
      display: block;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.dropdown-toggle {
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}


/*********************************************/
/*   HOME   */
/*********************************************/
.section-home-slider {
  margin: 30px 0 130px;
}

.section-home-1 {
  margin-bottom: 170px;

  .block {
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    &:nth-of-type(even) {
      flex-direction: column-reverse;
      .block__img {
        padding-top: 0;
        padding-bottom: 55px;
      }
    }
  }

  .block__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 14px;
  }

  .block__title {
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .block__desc {
    color: #7a7a7a;
    max-width: 300px;
    margin: 0 auto;
  }

  .block__img {
    padding-top: 55px;
    padding-bottom: 0;
    img {
      box-shadow: -28px 23px 17px 12px rgba(22, 23, 23, 0.06), -4px 3px 18px 6px rgba(22, 23, 23, 0.09);
    }
  }
}



.section-novelties {
  margin-bottom: 150px;

  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #0e0e0e;
    li {
      margin: 0 40px;
      opacity: .5;
      transition: all 300ms;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: 500;
      &.active {
        opacity: 1;
        transition: all 300ms;

      }
    }
  }
  .btn-wrap {

  }
}

.section-related {
  margin: 150px 0;
}

.section-look-book {
  text-align: center;
  margin-bottom: 160px;
  p {
    color: #7a7a7a;
  }

  .look-book__item {
    position: relative;
    margin-top: 60px;

    a { display: block; }

    .title {
      position: absolute;
      z-index: 1;
      top: 47%;
      color: #0e0e0e;
      font-size: 21px;
      font-weight: 500;
      text-align: center;
      padding: 28px 50px;
      background: #fff;
      text-transform: uppercase;
    }

    .img {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position:  center;
      height: 654px;
      width: 692px;
      display: block;
      margin: 0 auto;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 40px;
        background: #e9eff3;
        z-index: -1;
        transition: all 300ms;
      }
      &:hover {
        box-shadow: -28px 23px 17px 12px rgba(22, 23, 23, 0.06), -4px 3px 18px 6px rgba(22, 23, 23, 0.09);
        transition: all 300ms;
        &:after {
          transform: translate(36px, -31px);
          transition: all 300ms;
        }
      }
    }

    &_left {
      .title {
        left: 0;
      }
    }
    &_right {
      .title {
        right: 0;
      }
    }
  }
}


.section-text {
  font-size: 16px;
  letter-spacing: 1.12px;
  margin: 180px auto 150px;

  b {
    font-size: 18px;
  }

  .advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
    .item {
      max-width: 350px;
      font-size: 14px;
      color: #7a7a7a;
      .title {
        color: #0e0e0e;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}







/*********************************************/
/*      product  */
/*********************************************/
.price-old {
  text-decoration: line-through;
  opacity: .5;
}
.product {
  position: relative;
  // width: 350px;
  // height: 570px;
  transition: all 300ms;
  text-align: center;
  margin: 0 auto 20px;
  .img {
    // height: 470px;
    // width: 100%;
    height: 60vh;
    width: 45vh;
    max-height: 470px;
    max-width: 350px;

    position: relative;
    transition: all 300ms;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    margin: 0 auto;
  }
  .title {
    font-size: 18px;
    font-weight: 400;
    margin: 45px auto 10px;
  }
  .price {
    font-size: 18px;
    font-weight: 700;
  }
  .price-old {
    opacity: .5;
    text-decoration: line-through;
  }
  .size {
    position: absolute;
    z-index: -1;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background: #fff;
    padding: 30px 20px;
    text-align: center;

    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 300ms;
  }
  .favorite {
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 30px;
    opacity: 0;
    transition: all 300ms;
  }

  &:hover {
    .size,
    .favorite {
      z-index: 10;
      opacity: 1;
    }
    .img {
      transform: scale(1.07);
      transition: all 300ms;
      box-shadow: -28px 23px 17px 12px rgba(22, 23, 23, 0.06), -4px 3px 18px 6px rgba(22, 23, 23, 0.09);
    }
  }
}


.product-page {
  .bread_crumbs {
    margin-top: 30px;
  }
  h1 {
    color: #0e0e0e;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
  }
  .price {
    color: #0e0e0e;
    font-size: 21px;
    font-weight: 700;
    margin-top: 10px;
  }
  .btn-wishlist {
    margin-top: 10px;
  }
  .btn-buy {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 28px;
  }
  .form-group > label {
    color: #070708;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-bottom: 20px;
  }
}

.prod-foto {}
.detail-img {
  margin-left: 200px;
  padding: 10px 100px;
  text-align: center;
}
.thumbnails-wrap {
  width: 116px;
  float: left;
  margin: 60px 0 0 70px;
}
.thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 684px;
  overflow-y: auto;
  li {
    margin-bottom: 10px;
  }
  .active {
    opacity: .6;
  }
}
.show-all-thumbnails {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}



.product-detail {
  margin-top: 50px;
  &_col-right {
    text-align: right;
  }
}

.product-options {
  color: #0e0e0e;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;

  .radio {
    position: relative;
    display: inline-block;
    margin: 0 20px 30px 0;
    input {
      display: none;
    }
    label {
      border: 1px solid #c8c8c8;
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
    }
    input:checked + label {
      border: 2px solid #0e0e0e;
    }
  }

  &__title {
    color: #070708;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-bottom: 20px;
  }

  &_size {
    .radio {
      label {
        width: 40px;
      }
    }
  }

  &_color {
    .radio {
      label {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 7px;
        img {
          border-radius: 100%;
        }
      }
    }
  }
}


.check-availability {
  margin-top: 25px;
  a {
    color: #070708;
    text-decoration: underline;
  }
}

.social-btn-wrap {
  margin-top: 35px;
  a {
    margin-right: 15px;
  }
}

.prod-description {
  color: #7a7a7a;
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 50px;
  .title {
    color: #0e0e0e;
    font-size: 21px;
    font-weight: 700;
    line-height: 37.54px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  p {
    margin-top: 0;
    margin-bottom: 4px;
  }
  &-2 {
    margin-top: 12px;
  }
}

/*********************************************/
/*   Category   */
/*********************************************/
.content-top {
  background-color: #e9eff3;
  padding: 40px 0 35px;
  margin-top: 30px;
  h1 {
    margin: 12px 0 0;
    text-align: left;
    text-transform: uppercase;
  }
}
.content-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bread_crumbs {
  color: #070708;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-right: 20px;
    display: inline-block;
  }
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .product {
    margin: 0 5px 70px;
    width: 23%;
    // height: 600px;
    &.null {
      height: 0;
      margin-bottom: 0;
    }
    .img {
      width: 100%;
    }
    .product-link {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }
  }
}

.filter {
  margin: 60px 0 40px;
}
.filrer-inner {
  .custom-select-container {
    margin-right: 20px;
  }
}
.sort-inner {
  text-align: right;
  .custom-select-container {
    text-align: left;
  }
}

/*********************************************/
/*    Pagination    */
/*********************************************/
.pagination-wrap {
  text-align: center;
  margin: 50px auto;
}
.pagination {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 700;
  li {
    display: inline-block;
    margin: 0 10px;
    &.active a,
    &.active span {
      border-color: #070708;
    }
  }
  a, span {
    padding: 4px 10px;
    display: block;
    border: 2px solid transparent;

    &:hover {
      text-decoration: none;
      border-color: #070708;
    }
  }
}



/*********************************************/
/*      checkout   */
/*********************************************/
.checkout-page {
  .bread_crumbs {
    margin-top: 30px;
  }
  h1 {
    margin: 30px 0;
    text-align: left;
    text-transform: uppercase;
  }
  textarea.input {
    border: 2px solid;
    padding: 25px;
    font-size: 16px;
  }
  .active-view { display: none; }
  .active .active-view { display: block; }
  .active .active-hidden { display: none; }

  .custom-select-container { width: 100%; }
  .custom-select-opener {
    text-transform: none;
    padding: 15px 0;
    border: 0;
    border-bottom: 2px solid #b2b2b2;
    // color: #b2b2b2;
    &:after {
      border-color: #b2b2b2;
    }
  }
}

.go-back {
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}

.checkout__total-sum-header {
  color: #0e0e0e;
  font-size: 24px;
  font-weight: 400;
  float: right;
  span {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.checkout__top {
  margin-top: 55px;
}


.checkout__steps {
  margin: 55px 0;
}
.checkout__step {
  color: #b2b2b2;
  border-color: #b2b2b2;
  margin-bottom: 30px;
  .checkbox + .label::after,
  .radio + .label::after {
    border: 1px solid #b2b2b2;
  }
  .checkbox:checked + .label::after,
  .radio:checked + .label::after {
    background: #b2b2b2;
  }

  &.active {
    color: #0e0e0e;
    border-color: #070708;
    .checkbox + .label::after,
    .radio + .label::after {
      border: 1px solid #070708;
    }
    .checkbox:checked + .label::after,
    .radio:checked + .label::after {
      background: #070708;
    }
  }
}
.checkout__step-number {
  border: 2px solid;
  padding: 12px 20px;
  display: inline-block;
  font-size: 24px;
}
.checkout__step-content {
  border: 2px solid;
  padding: 80px 100px;
  margin-top: 25px;
  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}

.checkout-btn-step-1 {
  margin-top: 70px;
  width: 100%;
  text-align: center;
}
.checkout-edit-step-1 {
  display: inline-block;
  margin-top: 70px;
  font-size: 16px;
  text-decoration: underline;
}

.step-tabs {
  font-weight: 500;
  font-size: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
    border-right: 1px solid;
    padding: 0 20px;
    color: #b2b2b2;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: 0;
    }
    .active &.active {
      color: #0e0e0e;
    }
  }
}
.step-tab-content {
  margin: 50px 0;
}


.btn-buy-wrap {
  text-align: right;
  margin: 65px 0 180px;
}


.step-tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.delivery-content {
  display: none;
  padding-top: 30px;
  &.active {
    display: block;
  }
  .title {
    font-size: 18px;
    margin: 0;
  }
}









/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/





// .site-header { display: none; }

// .section-home-slider { display: none; }
// .section-home-1 { display: none; }
// .section-novelties { display: none; }
// .section-look-book { display: none; }
// .section-text { display: none; }

// .subscribe { display: none; }
// .site-footer { display: none; }






