@media screen and (max-width: 1540px) {
  .section-home-1 .block__img { padding: 55px 30px 0; }

  .owl-theme {
    padding-top: 0px;
    margin-bottom: 0;
  }

  .section-look-book .look-book__item {
    margin-top: 30px;
  }
  .section-look-book .look-book__item .img {
    width: 100%;
    max-height: 70vh;
  }

  .filrer-inner .custom-select-container {
    margin-right: 0;
    width: 24%;
  }
  .sort-inner {
    text-align: left;
  }
  .mini-cart,
  .fastorder-form {
    padding-right: calc((100vw - 1180px) / 2);
  }

  .footer-contact {
    width: 260px;
    flex-wrap: wrap;
    padding: 20px;
  }

  .lb__slider {
    width: 750px;
    bottom: -100px;
  }
} // end max-width: 1540px



@media screen and (max-width: 1366px) {
  html { font-size: 9px; }
  .section-home-slider { margin-top: 0; }
} // end max-width: 1366px



@media screen and (max-width: 1200px) {
  .detail-img {
    margin-left: 120px;
    padding: 10px;
  }
  .thumbnails-wrap {
    margin: 20px 0 0;
  }

  .filrer-inner {
    display: flex;

    flex-wrap: wrap;
  }
  .filrer-inner .custom-select-container,
  .sort-inner .custom-select-container {
    width: 49%;
    margin-right: 1%;
    margin-bottom: 20px;
  }

  .product-list {
    .product {
      width: 330px;
    }
  }

  .btn-mob-nav {
    display: block;
  }

  .header-top__center,
  .header__center {
    display: none;
  }
  .header-top__left,
  .header-top__right {
    width: auto;
  }

  .mini-cart,
  .fastorder-form {
    padding-right: calc((100vw - 720px) / 2);
  }

  .section-home-1 .block {
    flex-direction: row;
    width: 100%;

    align-items: center;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
      .block__img {
        padding-top: 55px;
        padding-bottom: 0;
      }
    }

    &__text {
      padding: 0 15px;
    }
  }

  .section-text .advantages {
    justify-content: center;
    .item {
      max-width: 340px;
      margin-bottom: 30px;
    }
  }

  .subscribe .form {
    margin-left: 0;
  }

  .footer-contact {
    width: auto;
    max-width: 100%;
  }

  .lb__slider {
    position: static;
    width: 100%;
  }
  .lb__desc {
    height: 370px;
  }
} // end max-width: 1200px




@media screen and (max-width: 1070px) {
  html { font-size: 8px; }
  .owl-carousel .product {
    width: 300px;
  }
  .owl-carousel.owl-lb .product {
    width: auto;
  }
} // end max-width: 1070px




@media screen and (max-width: 991px) {
  .owl-carousel .product {
    width: 100%;
    max-width: 350px;
  }
  .owl-theme .owl-nav {
    top: 40px;
    .owl-prev {
      left: 10%;
    }
    .owl-next {
      right: 10%;
    }
  }
} // end max-width: 991px





@media screen and (max-width: 767px) {
  .thumbnails {
    max-height: 500px;
  }


  .product-list {
    .product {
      margin-right: auto;
      margin-left: auto;
    }
  }



  .mini-cart,
  .fastorder-form {
    padding-right: calc((100vw - 540px) / 2);
    padding-left: 20px;
  }

  .header-mob-menu {
    padding-left: 20px;
  }

  .owl-home-slider .owl-nav .owl-prev {
    right: 150px;
  }
  .owl-home-slider .owl-nav .owl-next {
    right: 50px;
  }
  .owl-home-slider .item .foto {
    right: 0;
    left: auto;
  }
  .owl-home-slider .active .foto {
    right: 0;
  }
  .owl-home-slider .item .bg-img {
    width: 100%;
  }

  .section-novelties .tabs li {
    margin: 0 10px;
  }
  .section-novelties .tabs {
    margin-bottom: 20px;
  }


  .subscribe .form .input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__logo {
    margin: 0 auto;
    text-align: center;
  }
  .footer__menu-1 {
    width: 100%;
    margin: 20px 0 40px;
    ul {
      display: flex;

      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .footer__menu-2 {
    width: 100%;
    margin-bottom: 40px;
  }

  .look-book-category-list a {
    display: block;
    margin-left: 0;
    text-align: right;
  }

  .lb__left-col {
    width: 100%;
  }
  .lb__right-col {
    width: 100%;
    order: 1;
  }
  .lb__desc {
    height: auto;
    margin-bottom: 40px;
  }
} // end max-width: 767px


@media screen and (max-width: 575px) {
  html { font-size: 7px; }
  .thumbnails-wrap {
    width: 70px;
  }
  .thumbnails {
    max-height: 400px;
  }
  .detail-img {
    margin-left: 70px;
  }


  .sort-inner .custom-select-container {
    width: 99%;
  }

  .mini-cart,
  .fastorder-form {
    padding-right: 20px;
  }

  .header-mob-menu {
    width: 100%;
  }
  .header-mob-menu__content {
    padding-right: 40px;
  }

  .header-top__left {
    display: none;
  }
  .header-top,
  .header {
    padding-right: 15px;
    padding-left: 15px;
  }

  .section-home-1 .block {
    flex-wrap: wrap;
    justify-content: center;
    .block__img,
    &:nth-of-type(even) .block__img {
      padding-top: 15px;
      padding-bottom: 55px;
    }
  }
  .owl-home-slider .owl-nav {
    bottom: 50px;
  }

  .footer-contact {
    flex-wrap: wrap;
  }

  .footer-bottom p { margin: 0; }
  .footer-bottom .r { text-align: left; }

  .lb__foto {
    margin-right: 40px;
  }

  .checkout__step-content {
    padding: 20px 10px;
  }
} // end max-width: 575px
