[class*='svg-'] {
  display: inline-block;
  vertical-align: middle;
}

.svg-heart {
  width: 17px;
  height: 15px;
  margin-right: 15px;
  &:hover,
  a:hover & {
    fill: #f22626;
  }
}

.svg-heart-big {
  width: 26px;
  height: 24px;
  &:hover,
  a:hover & {
    fill: #f22626;
  }
}


.svg-shopping-cart {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  &:hover,
  a:hover & {
    fill: #f22626;
  }
}

.svg-owl-right-arrow,
.svg-owl-left-arrow {
  width: 22px;
  height: 25px;
  margin: 12px 16px;
}
.svg-right-arrow,
.svg-left-arrow {
  width: 22px;
  height: 25px;
  position: relative;
  top: -1px;
  margin-left: 10px;
  margin-right: -10px;
}
.svg-cart-left-arrow {
  width: 22px;
  height: 25px;
  margin-right: 20px;
}
.svg-cart-right-arrow {
  width: 22px;
  height: 25px;
  margin-left: 20px;
}

.svg-paper-plane {
  width: 32px;
  height: 32px;
}


.svg-email {
  width: 23px;
  height: 22px;
}

.svg-facebook {
  width: 19px;
  height: 19px;
  transition: all 300ms;
  &:hover,
  a:hover & {
    fill: #4267b2;
  }
}

.svg-instagram {
  width: 19px;
  height: 19px;
  transition: all 300ms;
  &:hover,
  a:hover & {
    fill: #d6249f;
  }
}

.svg-phone {
  width: 23px;
  height: 23px;
}

.svg-close {
  width: 26px;
  height: 26px;
  transition: all 300ms;
  &:hover,
  a:hover &,
  div:hover > & {
    fill: #f22626;
  }
}
.svg-remove {
  width: 14px;
  height: 14px;
  margin-right: 20px;
  transition: all 300ms;
  &:hover,
  a:hover &,
  div:hover > & {
    fill: #f22626;
  }
}




.svg-angle-arrow-right {
  width: 16px;
  height: 16px;
}
.svg-angle-arrow-left {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}


// .svg- {}
// .svg- {}
// .svg- {}