<main class="site-content">

  <div class="content-top">
    <div class="container">
      <div class="content-top-inner">
        <div>
          <div class="bread_crumbs">
            <ul>
              <li><a href="/">Головна</a></li>
            </ul>
          </div>
          <h1>новинки</h1>
        </div>

        <div class="view" style="display: none;">
          <span>Відображати:</span>
        </div>
      </div>
    </div>
  </div> <!-- /.content-top -->

  <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-xl-9">
          <div class="filrer-inner">

            <select class="form-control form-control-select" name="" id="">
              <option value="0" selected="selected">бренд</option>
              <option value="1">option 1</option>
              <option value="2">option 2</option>
              <option value="3">option 3</option>
            </select>

            <select class="form-control form-control-select" name="" id="">
              <option value="0" selected="selected">колір</option>
              <option value="1">option 1</option>
              <option value="2">option 2</option>
              <option value="3">option 3</option>
            </select>

            <select class="form-control form-control-select" name="" id="">
              <option value="0" selected="selected">розмір</option>
              <option value="1">option 1</option>
              <option value="2">option 2</option>
              <option value="3">option 3</option>
            </select>

            <select class="form-control form-control-select" name="" id="">
              <option value="0" selected="selected">ціна</option>
              <option value="1">option 1</option>
              <option value="2">option 2</option>
              <option value="3">option 3</option>
            </select>

          </div>
        </div>
        <div class="col-xl-3">
          <div class="sort-inner">

            <select class="form-control form-control-select" name="" id="">
              <option value="#" selected="selected">Сортировать:</option>
              <option value="#">По имени (A - Я)</option>
              <option value="#">По имени (Я - A)</option>
              <option value="#">По цене (возрастанию)</option>
              <option value="#">По цене (убыванию)</option>
              <option value="#">По рейтингу (убыванию)</option>
              <option value="#">По рейтингу (возрастанию)</option>
              <option value="#">По модели (A - Я)</option>
              <option value="#">По модели (Я - A)</option>
            </select>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="product-list product-list__view-4">
      <div class="product">
        <div class="img" style="background-image: url(img/slider/slide-1.jpg);">
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
        </div>
        <div class="title"><a href="#">Светр Juvia</a></div>
        <div class="price">UAH  700</div>
      </div>

      <div class="product">
        <div class="img" style="background-image: url(img/slider/slide-2.jpg);">
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
        </div>
        <div class="title"><a href="#">Светр Juvia</a></div>
        <div class="price">UAH  700</div>
      </div>

      <div class="product">
        <div class="img" style="background-image: url(img/slider/slide-3.jpg);">
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
        </div>
        <div class="title"><a href="#">Светр Juvia</a></div>
        <div class="price">UAH  700</div>
      </div>

      <div class="product">
        <div class="img" style="background-image: url(img/slider/slide-4.jpg);">
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
        </div>
        <div class="title"><a href="#">Светр Juvia</a></div>
        <div class="price">UAH  700</div>
      </div>

      <div class="product">
        <div class="img" style="background-image: url(img/slider/slide-1.jpg);">
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
        </div>
        <div class="title"><a href="#">Светр Juvia</a></div>
        <div class="price">UAH  700</div>
      </div>

      <div class="product null"></div>
      <div class="product null"></div>
      <div class="product null"></div>
      <div class="product null"></div>
      <div class="product null"></div>
    </div>
  </div>


  <div class="pagination-wrap">
    <ul class="pagination">
      <li><a href="#"></a></li>
      <li><a href="#"><svg class="svg-angle-arrow-left"><use xlink:href="img/sprite/svgSprite.svg#angle-arrow-right"></use></svg></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li class="active"><span>3</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#"><svg class="svg-angle-arrow-right"><use xlink:href="img/sprite/svgSprite.svg#angle-arrow-right"></use></svg></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>

</main>