<main class="site-content">
  <section class="section-home-1">
    <div class="container">
      <div class="block__wrap">
        <div class="block">
          <div class="block__text">
            <div class="block__title">життя в тренді</div>
            <div class="block__desc">Повсякденний одяг та аксесуари для молодих людей у стилі вуличної моди за доступними цінами</div>
          </div>
          <div class="block__img"><img src="img/home/image-1.jpg" alt=""></div>
        </div>

        <div class="block">
          <div class="block__text">
            <div class="block__title">Стиль та комфорт</div>
            <div class="block__desc">Високоякісна зручний одяг, що складається з дуже м'яких матеріалів, випадкових стилів та різнобарвних кольорів</div>
          </div>
          <div class="block__img"><img src="img/home/image-2.jpg" alt=""></div>
        </div>

        <div class="block">
          <div class="block__text">
            <div class="block__title">елегантність всюди</div>
            <div class="block__desc">Яскраві образи, якісний одяг і стильні новинки європейського бренду з доставкою по всій Україні</div>
          </div>
          <div class="block__img"><img src="img/home/image-3.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-novelties">
    <div class="container">
      <h2>новинки</h2>
      <ul class="tabs">
        <li><a href="#">P&B</a></li>
        <li class="active"><a href="#">JUVIA</a></li>
        <li><a href="#">must have</a></li>
      </ul>
    </div>

    <div class="slider">
      <div class="item">
        <div class="product">
          <div class="img" style="background: url(../img/slider/slide-1.jpg);">
            <ul class="size">
              <li><a href="#">xl</a></li>
              <li><a href="#">s</a></li>
              <li><a href="#">m</a></li>
              <li><a href="#">l</a></li>
              <li><a href="#">xl</a></li>
            </ul>
            <div class="favorite"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></div>
          </div>
          <div class="title"><a href="#">Светр Juvia</a></div>
          <div class="price">UAH  700</div>
        </div>
      </div>

      <div class="item">
        <div class="product">
          <div class="img" style="background: url(img/slider/slide-2.jpg);"></div>
          <div class="title"><a href="#">Светр Juvia</a></div>
          <div class="price">UAH  700</div>
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite">i.ico</div>
        </div>
      </div>

      <div class="item">
        <div class="product">
          <div class="img"><img src="img/slider/slide-3.jpg" alt=""></div>
          <div class="title"><a href="#">Светр Juvia</a></div>
          <div class="price">UAH  700</div>
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite">i.ico</div>
        </div>
      </div>

      <div class="item">
        <div class="product">
          <div class="img"><img src="img/slider/slide-4.jpg" alt=""></div>
          <div class="title"><a href="#">Светр Juvia</a></div>
          <div class="price">UAH  700</div>
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite">i.ico</div>
        </div>
      </div>

      <div class="item">
        <div class="product">
          <div class="img"><img src="img/slider/slide-4.jpg" alt=""></div>
          <div class="title"><a href="#">Светр Juvia</a></div>
          <div class="price">UAH  700</div>
          <ul class="size">
            <li><a href="#">xl</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">xl</a></li>
          </ul>
          <div class="favorite">i.ico</div>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="btn-wrap">
        <a href="#" class="btn">переглянути усе</a>
      </div>
    </div>
  </section>

</main>
