<main class="site-content">

  <section class="section-home-slider">
    <div class="home-slider owl-carousel owl-home-slider">

      <div class="item">
        <div class="bg-img" style="background-image: url(../img/home-slider/bg-1.jpg);"></div>
        <div class="foto" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight"><img src="img/home-slider/slide-1.jpg" alt=""></div>
        <div class="text">
          <div class="brand" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown"><img src="img/brand/juvia.png" alt=""></div>
          <div class="title" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">Знижки до  50% OFF</div>
          <div class="sub-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">на колекцію весна-літо 2018</div>
          <div class="btn-wrap" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutUp"><a href="#" class="btn">розпочати шопінг <svg class="svg-right-arrow"><use xlink:href="img/sprite/svgSprite.svg#right-arrow"></use></svg></a></div>
        </div>
      </div>

      <div class="item">
        <div class="bg-img" style="background-image: url(../img/home-slider/bg-1.jpg);"></div>
        <div class="foto" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight"><img src="img/home-slider/slide-2.jpg" alt=""></div>
        <div class="text">
          <div class="brand" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown"><img src="img/brand/juvia.png" alt=""></div>
          <div class="title" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">Знижки до  60% OFF</div>
          <div class="sub-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">на колекцію весна-літо 2018</div>
          <div class="btn-wrap" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutUp"><a href="#" class="btn">розпочати шопінг <svg class="svg-right-arrow"><use xlink:href="img/sprite/svgSprite.svg#right-arrow"></use></svg></a></div>
        </div>
      </div>

    </div>
  </section>





  <section class="section-home-1">
    <div class="container">
      <div class="block__wrap">
        <div class="block">
          <div class="block__text">
            <div class="block__title">життя в тренді</div>
            <div class="block__desc">Повсякденний одяг та аксесуари для молодих людей у стилі вуличної моди за доступними цінами</div>
          </div>
          <div class="block__img"><img src="img/home/image-1.jpg" alt=""></div>
        </div>

        <div class="block">
          <div class="block__text">
            <div class="block__title">Стиль та комфорт</div>
            <div class="block__desc">Високоякісна зручний одяг, що складається з дуже м'яких матеріалів, випадкових стилів та різнобарвних кольорів</div>
          </div>
          <div class="block__img"><img src="img/home/image-2.jpg" alt=""></div>
        </div>

        <div class="block">
          <div class="block__text">
            <div class="block__title">елегантність всюди</div>
            <div class="block__desc">Яскраві образи, якісний одяг і стильні новинки європейського бренду з доставкою по всій Україні</div>
          </div>
          <div class="block__img"><img src="img/home/image-3.jpg" alt=""></div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-novelties">
    <div class="container">
      <h2>новинки</h2>
      <ul class="tabs">
        <li><a href="#novelties-pb">P&B</a></li>
        <li class="active"><a href="#novelties-juvia">JUVIA</a></li>
        <li><a href="#novelties-must-have">must have</a></li>
      </ul>
    </div>

    <div class="tabs-content">
      <div id="novelties-pb" class="tab">
        <div class="slider owl-carousel owl-theme">
          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-2.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-3.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-4.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-5.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>
        </div>
      </div>


      <div id="novelties-juvia" class="tab active">
        <div class="slider owl-carousel owl-theme">
          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-2.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-3.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-4.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-5.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>
        </div>
      </div>


      <div id="novelties-must-have" class="tab">
        <div class="slider owl-carousel owl-theme">
          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-2.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-3.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-4.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-5.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="container">
      <div class="btn-wrap">
        <a href="#" class="btn">переглянути усе <svg class="svg-right-arrow"><use xlink:href="img/sprite/svgSprite.svg#right-arrow"></use></svg></a>
      </div>
    </div>
  </section>








  <section class="section-look-book">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Look book</h2>
          <p>Образи від стилістів для жінок і чоловіків.<br>Джерело натхнення для власних стильних образів!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="look-book__item look-book__item_left">
            <a href="#">
              <div class="img" style="background-image: url(../img/look-book/woman.jpg);">
                <div class="title">жінки</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="look-book__item look-book__item_right">
            <a href="#">
              <div class="img" style="background-image: url(../img/look-book/man.jpg);">
                <div class="title">чоловіки</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>














  <section class="section-novelties">
    <div class="container">
      <h2>Хіти продаж</h2>
      <ul class="tabs">
        <li><a href="#hit-sale-pb">P&B</a></li>
        <li class="active"><a href="#hit-sale-juvia">JUVIA</a></li>
        <li><a href="#hit-sale-must-have">must have</a></li>
      </ul>
    </div>


    <div class="tabs-content">
      <div id="hit-sale-pb" class="tab">
        <div class="slider owl-carousel owl-theme">
          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-2.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-3.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-4.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-5.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>
        </div>
      </div>


      <div id="hit-sale-juvia" class="tab active">
        <div class="slider owl-carousel owl-theme">
          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-2.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-3.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-4.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-5.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>
        </div>
      </div>


      <div id="hit-sale-must-have" class="tab">
        <div class="slider owl-carousel owl-theme">
          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-2.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-3.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-4.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-5.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>

          <div class="item">
            <div class="product">
              <div class="img" style="background-image: url(../img/slider/slide-1.jpg);">
                <ul class="size">
                  <li><a href="#">xl</a></li>
                  <li><a href="#">s</a></li>
                  <li><a href="#">m</a></li>
                  <li><a href="#">l</a></li>
                  <li><a href="#">xl</a></li>
                </ul>
                <div class="favorite"><a href="#"><svg class="svg-heart"><use xlink:href="img/sprite/svgSprite.svg#heart"></use></svg></a></div>
              </div>
              <div class="title"><a href="#">Светр Juvia</a></div>
              <div class="price">UAH  700</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



  <section class="section-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><b>О.Meliya</b> — це мережа магазинів високоякісного, зручного, стильного одягу для жінок, чоловіків та дітей в Україні та закордоном.<br>Ми пропонуємо комфортний дизайнерський одяг як для повсякденного образу, так і для святкового. У нас виключно високоякісні матеріали європейського зразка.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="advantages">
            <div class="item">
              <div class="title">асортимент</div>
              <p>До вашої уваги широкий асортимент продукції нашого магазину. Товар завжди внаявності та багатий на новинки</p>
            </div>

            <div class="item">
              <div class="title">ексклюзив</div>
              <p>Над колекціями, що ми представляємо, працює більше 10-ти дизайнерів. Ми пильно слідкуємо за найновішими тенденціями в моді</p>
            </div>

            <div class="item">
              <div class="title">гарантія</div>
              <p>Обирайте нові образи та не переживайте ніпрощо. Ми впевнені в якості нашої продукції, тому гарантуємо її вам!</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>




</main>
